html {
  box-sizing: border-box;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1{
  color: white;
}

body {
  height: 100vh;
  max-width: 600px;
  background: #2f3640;
  padding: 0 24px;
  margin: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

div.full-height {
  flex: auto;
}

header {
  height: 60px;
  border-bottom: solid 1px silver;
}

p {
  margin: 0;
}

/* MESSAGES */
main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 212px);
  max-height: calc(100vh - 212px);
  overflow: scroll;
}
main.smooth {
  scroll-behavior: smooth;
}

main .top-space {
  /* push messages at the bottom */
  flex: 1 1 auto;
}

.message {
  width: 60%;
  padding: 12px 18px;
  border-radius: 6px;
  border: solid 1px #bbb;
  margin-bottom: 18px;
  background: #dcdde1;
}

.message.self {
  align-self: flex-end;
  border: none;
  background-color: #74b9ff;
  border-radius: 5px;
}

.message p {
  font-size: large;
}

.message span {
  font-size: small;
}

.message span + span {
  display: inline-block;
  color: #888;
  margin-left: 4px;
}

.message > span + span::before {
  content: ' - ';
}

/* FORM */
form#new-message {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 12px;
  border-top: solid 1px silver;
}

form#new-message > div {
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
}

#pseudoMessage{
  width: 90%;
}

.buttonSubmit{
  width: 10%;
}

input {
  display: block;
  width: 100%;
  border: solid 1px silver;
  border-radius: 4px;
  outline: none;
  padding: 6px;
}

label{
  color: white;
}

.send{
  background: transparent;
  color: #74b9ff;
  border: none;
  margin-top: 75px;
  margin-left: 10px;
  font-size: 25px;
}
.send:active{
  transform: scale(0.9);
}
